$font-size: 14px;
$font-size--large: 16px;
$font-size--x-large: 24px;
$font-size--xx-large: 30px;

$line-height: 18px;
$line-height--large: 24px;
$line-height--x-large: 30px;
$line-height--xx-large: 42px;

$color-main--light: #f9f6f3;
$color-main: #663d15;

$gray: #aba9a7;

$font-family: 'PT Sans Narrow', 'Arial', sans-serif;
