body {
  min-width: 960px;

  font-weight: bold;
  font-size: $font-size;
  line-height: $line-height--large;
  font-family: $font-family;
  color: white;
  text-transform: uppercase;

  background-color: black;
}
.visually-hidden {
  display: none;
}

main {
  color: black;

  background-color: $color-main--light;
}
