footer.page-footer
  .page-footer__wrapper
    address.page-footer__contacts
      | Барбершоп «Бородинский»
      br
      | Адрес: г. Санкт-Петербург, ул. Б. Конюшенная, д. 19/8
      br
      a.page-footer__contacts-link(href='#')
        | Как нас найти?
      br
      | Телефон:
      |
      a.page-footer__contacts-phone(href='tel:+74956660266')
        | +7 (495) 666-02-66
    .page-footer__social
      span.page-footer__social-text
        | Давайте дружить!
      ul.social-links
        li
          a.social-links__link.social-links__link--(href='#')
            | Мы в Вконтакте
        li
          a.social-links__link.social-links__link--(href='#')
            | Мы в Фейсбуке
        li
          a.social-links__link.social-links__link--(href='#')
            | Мы в Инстаграмме
    .page-footer__copyright
      span.page-footer__copyright-text
        | Разработано:
      a.page-footer__copyright-link.btn(href='https://htmlacademy.ru')
        | HTML Academy
