footer.page-footer
  .page-footer__wrapper
    address.page-footer__contacts.contacts
      | Барбершоп «Бородинский»
      br
      | Адрес: г. Санкт-Петербург, ул. Б. Конюшенная, д. 19/8
      br
      a.contacts__link(href='#')
        | Как нас найти?
      br
      | Телефон:
      |
      a.contacts__phone(href='tel:+74956660266')
        | +7 (495) 666-02-66
    .page-footer__social
      span.page-footer__social-text
        | Давайте дружить!
      ul.social-links
        li
          a.social-links__link.social-links__link--vk(href='#', target='_blank')
            | Мы в Вконтакте
        li
          a.social-links__link.social-links__link--fb(href='#', target='_blank')
            | Мы в Фейсбуке
        li
          a.social-links__link.social-links__link--in(href='#', target='_blank')
            | Мы в Инстаграмме
    .page-footer__copyright
      .page-footer__copyright-wrap
        span.page-footer__copyright-text
          | Разработано:
        a.page-footer__copyright-link.btn(href='https://htmlacademy.ru', target='_blank')
          | htmlacademy.ru
