header.page-header
  .page-header__wrapper
    nav.main-nav
      a.main-nav__logo(href='index.html')
        img(
          src='img/logo--small.png'
          width='111'
          height='24'
          alt='Барбершоп')
      ul.main-nav__list.main-nav__list--main
        li.main-nav__item
          a.main-nav__link(href='#')
            | Информация
        li.main-nav__item
          a.main-nav__link(href='#')
            | Новости
        li.main-nav__item
          a.main-nav__link(href='price-list.html')
            | Прайс-лист
        li.main-nav__item
          a.main-nav__link(href='catalog.html')
            | Магазин
        li.main-nav__item
          a.main-nav__link(href='#')
            | Контакты
      ul.main-nav__list.main-nav__list--user
        li.main-nav__item
          a.main-nav__link.main-nav__link--user(href='#')
            | Вход

    include ../blocks/login.pug

    .modal-overlay
