header.page-header
  .page-header__wrapper
    nav.main-nav
      ul.main-nav__list.main-nav__list--main
        li.main-nav__item
          a.main-nav__link(href='#')
            | Информация
        li.main-nav__item
          a.main-nav__link(href='#')
            | Новости
        li.main-nav__item
          a.main-nav__link(href='#')
            | Прайс-лист
        li.main-nav__item
          a.main-nav__link(href='#')
            | Магазин
        li.main-nav__item
          a.main-nav__link(href='#')
            | Контакты
      ul.main-nav__list.main-nav__list--user
        li.main-nav__item
          a.main-nav__link.main-nav__link--user(href='#')
            | Вход
