header.page-header
  .page-header__wrapper
    nav.main-nav
      .main-nav__logo
        a(href='index.html')
          img(src='img/logo--small.png', width='111', height='24', alt='Барбершоп')
      ul.main-nav__list.main-nav__list--main
        li.main-nav__item
          a.main-nav__link(href='#')
            | Информация
        li.main-nav__item
          a.main-nav__link(href='#')
            | Новости
        li.main-nav__item
          a.main-nav__link(href='price-list.html')
            | Прайс-лист
        li.main-nav__item
          a.main-nav__link(href='catalog.html')
            | Магазин
        li.main-nav__item
          a.main-nav__link(href='#')
            | Контакты
      ul.main-nav__list.main-nav__list--user
        li.main-nav__item
          a.main-nav__link.main-nav__link--user(href='#')
            | Вход
    .page-header__login.login
      b.login__title
        | Личный кабинет
      p.login__desc
        | Введите пожалуйста свой логин и пароль
      form.login__form
        input.login__field.login__field--login(type='text', placeholder='Логин')
        input.login__field.login__field--password(type='password', placeholder='Пароль')
      .login__form-extra
        label
          input(type='checkbox', checked)
          | Запомните меня
        a.login__forgot-password(href='#')
          | Я забыл пароль!
      button.login__enter.btn(type='submit')
        | Войти
      button.login__close(type='button')
        | Закрыть
