.main-page {
  color: white;

  background: #070707 url('../img/bg-index.jpg') center top no-repeat;

  .main-nav__logo {
    display: none;
  }

  main {
    padding: 0;

    color: white;

    background: none;
  }

  .page-footer {
    margin-top: 60px;

    box-shadow: none;
  }
}
