doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title
      | Барбершоп Бородинский
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    link(rel='stylesheet', href='css/style.min.css')
  body.main-page
    include layouts/header.pug

    main
      h1.visually-hidden
        | Барбершоп "Бородинский"
      .logo
        .logo__wrapper
          .logo__img-wrap
            img(src='img/logo.png', width='368', height='204', alt='Барбершоп Бородинский')
      section.features
        .features__wrapper
          .features__items
            .features__item
              h2.features__item-title
                | Быстро
              p.features__items-desc
                | Мы делаем свою работу быстро! Два часа пролетят незаметно и вы — счастливый обладетель стильной стрижки-минутки!
            .features__item
              h2.features__item-title
                | Круто
              p.features__items-desc
                | Забудьте, как вы стриглись раньше. Мы сделаем из вас звезду футбола или кино! Во всяком случае внешне.
            .features__item
              h2.features__item-title
                | Дорого
              p.features__items-desc
                | Наши мастера — профессионалы своего дела и не могут стоить дешево. К тому же, разве цена не дает определенный статус?
      section.content
        .content__wrapper
          .content__columns
            .content__column.content__column--left
              h2.content__title
                | Новости
              .content__news-items
                .content__news-item
                  p.content__news-desc
                    | Нам наконец завезли ягермайстер! Теперь вы можете пропустить стаканчик во время стрижки
                  time.content__news-time(datetime='2017-01-11')
                    | 11 января
                .content__news-item
                  p.content__news-desc
                    | В нашей команде пополнение, Борис «бритва» Стригунец, обладетель множества титулов и наград пополнил наши стройные ряды
                  time.content__news-time(datetime='2017-01-18')
                    | 18 января
              a.btn(href='#')
                | Все новости
            .content__column.content__column--right
              .content__gallery
                h2.content__title
                  | Фотогалерея
                .content__gallery-items
                  figure.content__gallery-item
                    a(href='#')
                      img(src='img/gallery-1.jpg', width='286', height='164', alt='Салон')
                .content__gallery-btns
                  button.content__gallery-prev.btn(type='button')
                    | Назад
                  button.content__gallery-next.btn(type='button')
                    | Вперед
      section.content
        .content__wrapper
          .content__columns
            .content__column.content__column--left
              h2.content__title
                | Контактная информация
              address.content__contacts-item.contacts
                | Барбершоп «Бородинский»
                br
                | Адрес: г. Санкт-Петербург, ул. Б. Конюшенная, д. 19/8
                br
                | Телефон:
                |
                a.contacts__phone(href='tel:+74956660266')
                  | +7 (495) 666-02-66
              p.content__contacts-item
                | Время работы:
                br
                | пн — пт: с 10:00 до 22:00
                br
                | сб — вс: с 10:00 до 19:00
              .content__contacts-btns
                a.content__contacts-btn.btn(href='#')
                  | Как проехать
                a.content__contacts-btn.btn(href='#')
                  | Обратная связь
            .content__column.content__column--right
              h2.content__title
                | Записаться
              p
                | Укажите желаемую дату и время и мы свяжемся с вами для подтверждения брони
              form
                .content__form-fields
                  input.content__form-field.field(type='text', placeholder='Дата', required)
                  input.content__form-field.field(type='text', placeholder='Время', required)
                  input.content__form-field.field(type='text', placeholder='Ваше имя', required)
                  input.content__form-field.field(type='tel', placeholder='Телефон', required)
                button(type='submit').content__form-submit.btn.btn--fluid
                  | Отправить
      .map.modal
        .map__wrapper
          img(src='img/map.jpg', width='766', height='560', alt='Карта')
          iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.5991043651536!2d30.320894616352128!3d59.93879418187633!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca5ba729%3A0xea9c53d4493c879f!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDE5LCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywgMTkxMTg2!5e0!3m2!1sru!2sru!4v1516257742058', width='766', height='560', style='border:0', allowfullscreen='')
        button.map__close.modal__close-btn(type='button')
          | Закрыть

    include layouts/footer.pug
    script(src='js/concatenated.min.js')
