.default-content {
  h1 {
    font-size: $font-size--xx-large;
    line-height: $line-height--xx-large;
  }

  h2 {
    font-size: $font-size--x-large;
    line-height: $line-height--x-large;
  }

  a {
    color: black;
  }

  table {
    border-collapse: collapse;
  }

  td {
    padding: 8px 15px;

    border: 2px solid black;
  }
}

.default-content__columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.default-content__column {
  width: 460px;
}

.unordered-list {
  @include list-reset;

  margin: 30px 0;

  li {
    @include diamond-marker;

    margin: 13px 0;
  }
}

.default-content__short-text {
  padding-right: 80px;
}
