.map {
  width: 780px;
  margin-top: -280px;
  display: none;
  margin-left: -390px;

  border: 7px solid white;
  img {
    z-index: -10;

    display: block;
  }
}
.map__close {
  top: 5px;
  right: -40px;
}
